#goods input {
    width: 25em;
    font-size: 1em !important;
    line-height: 1.2em !important;
}
.product {
    height: 1.6em !important;
}

#adminPurchasesSort {
    margin-left: 1%;
}

#adminPurchasesSort div {
    width: 31.5%;
    float: left;
    margin-right: 1%;
}
#adminPurchasesSort select {
    width: 100%;
    font-size: 1.1em;
}

.purchase {
    height: 1.6em;
}
.purchase:nth-child(even) {
    background-color: #e6e6e6;
}