@font-face {
    font-family: 'Futura Book';
    src: url('FuturaBookC.eot');
    src: url('FuturaBookC.eot?#iefix') format('embedded-opentype'),
    url('FuturaBookC.woff') format('woff'),
    url('FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Verdana;
    min-width: 480px;
}

.logoAndName {
    display: flex;
    align-items:center;
    float: left;
    width: 49%;
    height: 4.5em;
    margin-bottom: 1em;
}
.shopSelect {
    display: block;
    text-align: right;
}
.shopSelect select{
    margin-top: 0.2em;
    font-size: 1.5em;
}
.addShopOption {
    text-align: center;
    color: #FF0000;
}

.top {
    clear: left;
    font-size: 1.5em;
}

#goods {
    clear: left;
}

.login {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 1%;
    -webkit-transform: translate(-1%, -50%);
    transform: translate(-1%, -50%);
    font-size: 1.5em;
    text-align: center;
}
.login a {
    font-family: 'Futura Book';
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}
.login a:hover {
    border-bottom: solid 0.1em #FBBC05;
}
.login a:visited {
    color: #000;
    text-decoration: none;
}
.login a blue {color: #4285F4;}
.login a red {color: #EA4335;}
.login a yellow {color: #FBBC05;}
.login a green {color: #34A853;}

.product{
    margin-bottom: 1.4em;
    height: 2.2em;
}
.product label{
    display: inline-block;
    vertical-align: middle;
    width: 72%;
    margin-right: 2%;
    font-size: 1.2em;
}
.product input{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6em;
    font-size: 1.6em;
    width: 24%;
}

#addProduct {
    display: block;
    opacity: 0.6;
    width: 5em;
    height: 5em;
    position: fixed;
    bottom: 3%;
    left: 77%;
    background-color: #FF0000;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}
.add {
    font-size: 2em;
    color: white;
    position: absolute;
    top: 46%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#addProduct:hover {
    opacity: 1;
    /*-webkit-transition: -webkit-transform 0.2s ease-in;*/
    /*-webkit-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/

}

.clicked {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -webkit-transform: translateX(300%) rotate(360deg);
    -moz-transform: translateX(300%) rotate(360deg);
    -ms-transform: translateX(300%) rotate(360deg);
    -o-transform: translateX(300%) rotate(360deg);
}

.addForm {
    display: block;
    width: 80%;
    position: absolute;
    left: -100%;
    transition: left .2s linear;
}
.showAddForm {
    display: block;
    width: 96%;
    background-color: #1faee9;
    position: absolute;
    top: 80%;
    border: none;
    left: 2%;
    height: 17%;
    transition: left .2s linear;
    font-size: 1.2em;
}
.showAddForm fieldset {
    border: none;
    /*margin: 1% !important;*/
    padding: 2% 1% 4% 1% !important;
}
.showAddForm input {
    font-size: 1.6em;
    padding: 0.1em;
}
#submitNewProduct {
    width: 46%;
    margin-left: 2%;
    margin-right: 1%;
}
#cancelNewProduct {
      width: 46%;
      margin-left: 1%;
      margin-right: 2%;
  }
#productName { /* input */
    width: 68%;
}
.productAutocomplete {
    width: 90% !important;
    left: 1.5% !important;
    background-color: #a6ddf5;
    font-size: 1.5em;
}
.productAutocomplete ul{
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.productAutocomplete li{
    list-style: none !important;
    padding: 0.3em 0 0.3em 0 !important;
    margin: 0 !important;
}