@font-face {
    font-family: 'Futura Book';
    src: url('FuturaBookC.eot');
    src: url('FuturaBookC.eot?#iefix') format('embedded-opentype'),
    url('FuturaBookC.woff') format('woff'),
    url('FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Verdana, serif;
    min-width: 480px;
}

input {
    outline: none;
}

.login {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 1%;
    -webkit-transform: translate(-1%, -50%);
    transform: translate(-1%, -50%);
    font-size: 1.5em;
    text-align: center;
}
.login a {
    font-family: 'Futura Book';
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}
.login a:hover {
    border-bottom: solid 0.1em #FBBC05;
}
.login a:visited {
    color: #000;
    text-decoration: none;
}
.login a blue {color: #4285F4;}
.login a red {color: #EA4335;}
.login a yellow {color: #FBBC05;}
.login a green {color: #34A853;}

#wrap {
    height:100%;
    width: 100%;
    position:fixed;
    left: 0;
    top:0;
    background-color:rgba(0,0,0,.5);
    z-index: 3;
    display: none;
}

.logoAndName {
    display: inline-block;
    align-items:center;
    width: 49%;
    height: 4.5em;
    margin-bottom: 0.3em;
}
.shopSelect {
    display: inline-block;
    text-align: right;
}
#shops {
    font-size: 1.5em;
    margin-top: 1em;
}
.addShopOption {
    text-align: center;
    color: #FF0000;
}
.addShop {
    width: 80%;
    font-size: 1.5em;
    margin-top: 1em;
    position: fixed;
    top: 75%;
    left: -100%;
    z-index: 4;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.showShopForm {
    left: 10% !important;
    min-width: 800px;
    position: absolute;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
 }
.addShop input {
    width: 100%;
    font-size: 1.5em;
    padding: 0.1em 0.1em 0.1em 1.5em;
}
.addShop button {
    position: absolute;
    margin: 0 0 0 0.1em;
    background: transparent;
    border: none;
    color: #7cdd77;
    font-size: 1.5em;
}

.top {
    clear: left;
    font-size: 1.5em;
}

#filter {
    width: 100%;
    margin: 0 0 0.4em 0;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}
#filter span{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 0.5em 0 0.5em;
    opacity: 0.5;
}
#filter span:hover {
    opacity: 1 !important;
}
#filter .cancelFilter{
    color: red;
}

#goods {
    clear: left;
}
.product, .productF {
    margin-bottom: 1.4em;
    height: 2.2em;
}
.product label, .productF label{
    display: inline-block;
    vertical-align: middle;
    width: 72%;
    margin-left: 2%;
    font-size: 1.2em;
}
.product input, .productF input{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6em;
    font-size: 1.6em;
    width: 24%;
    z-index: 2;
}
.addProduct {
    display: block;
    opacity: 0.6;
    width: 5em;
    height: 5em;
    position: fixed;
    bottom: 3%;
    left: 82%;
    background-color: #FF0000;
    border-radius: 2.5em;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    z-index: 1;
}
.addProduct .productForm { display: none; z-index: 4; }
.addProduct:hover { opacity: 1; }
.add {
    font-size: 2em;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
.showProductForm {
    opacity: 1;
    left: 3%;
    width: 94%;
    border-radius: 5em;
    bottom: 3%;
    z-index: 4;
}
.showProductForm .productForm{
    display: block;
}
.showProductForm input{
    display: inline-block;
    width: 80%;
    margin : 0.4em 0 0.4em 0.6em;
    font-size: 1.6em;
    line-height: 1.9em;
    padding: 0.1em 1em 0.1em 1em;
    border-radius: 1em;
}
.submitNewProduct {
    display: inline-block;
    width: 5%;
    margin : 0.5em 0 0 0.7em;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

/*#productName::-webkit-search-cancel-button{*/
    /*position:relative;*/
    /*right:0px;*/
    /*-webkit-appearance: none;*/
    /*height: .5em;*/
    /*width: .5em;*/
    /*background: #000;*/
/*}*/

.productAutocomplete {
    width: 90% !important;
    left: 1.5% !important;
    background-color: #fff;
    font-size: 1.5em;
    border: solid red 1px;
    z-index: 4;
}
.productAutocomplete ul{
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.productAutocomplete li{
    list-style: none !important;
    padding: 0.3em 0 0.3em 0 !important;
    margin: 0 !important;
    border-bottom: dotted gray 1px;
}

.ui-helper-hidden-accessible {
    display: none !important;
}