.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.closeModal {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 0;}

/*.modal-footer {*/
    /*padding: 2px 16px;*/
    /*background-color: #5cb85c;*/
    /*color: white;*/
/*}*/

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.statisticHeader {
    height: 1.5em;
    /*margin-bottom: 0.5em;*/
}
.statisticHeader div {
    float: left;
    height: 1.1em;
    padding: 0.2em 0.3em;
    border-bottom: solid gray 1px;
}
.statisticHeaderDate {
    width: 14%;
    border-right: solid gray 1px;
}
.statisticHeaderProduct {
    width: 48%;
    border-right: solid gray 1px;
}
.statisticHeaderPrice {
    width: 9%;
    border-right: solid gray 1px;
}
.statisticHeaderShop {
    width: 20%;
}

.statisticBody {
    height:1.5em;
}
.statisticBody:nth-child(even) {
    background-color: #e6e6e6;
}
#statisticBodyBordered {
    border-top: solid #000 1px;
}
.statisticBody div {
    font-size: 0.8em;
    float: left;
    height: 1.1em;
    white-space: nowrap;
    overflow: hidden;
}
.statisticDate {
    width: 14%;
    padding: 0.1em 0 0.1em 0.1em;
}
.statisticProduct {
    width: 48%;
    padding: 0.1em 0 0.1em 0.8em;
}
.statisticPrice {
    width: 9%;
    padding: 0.1em 0 0.1em 1em;
}
.statisticShop {
    width: 20%;
    padding: 0.1em 0 0.1em 1em;
}
