<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin's hut</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/js/adminFeatures.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js" ></script>
    <script type="text/javascript" src="/js/jquery.touchSwipe.js"></script>
</head>