<a href="/">Back</a>
<h3>USERS:</h3>
<table id="users">
    <thead style="background: #fc0">
        <tr>
            <td>Name:</td>
            <td>ID:</td>
        </tr>
    </thead>
    <tbody>
        <th:block th:field="*{users}">
            <tr class="user" th:each="user : ${users}" th:value="${user.getId()}">
                <td>
                    <span th:text="${user.getName()}"></span>
                </td>
                <td>
                    <span th:text="${user.getId()}"></span>
                </td>
            </tr>
        </th:block>
    </tbody>
</table>

<h3>GOODS:</h3>
<table id="goods">
    <thead style="background: #fc0">
    <tr>
        <td>ID:</td>
        <td>Name:</td>
        <td>Stuff:</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:field="*{goods}">
        <tr class="product" th:classappend="${product.getId()}" th:each="product : ${goods}" th:value="${product.getId()}">
            <td>
                <span th:text="${product.getId()}"></span>
            </td>
            <td>
                <input class="productName" th:classappend="${product.getId()}" th:value="${product.getName()}" />
            </td>
            <td>
                &nbsp;<button class="delProductButton" th:id="${product.getId()}">DEL</button>
                &nbsp;<button class="saveProductButton" th:id="${product.getId()}">SAVE</button>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<h3>PURCHASES:</h3>
<div id="adminPurchasesSort">
    <div>
        By User
        <br />
        <select id="purchasesUsers"></select>
    </div>
    <div>
        By Date
        <br />
        <select id="purchasesDates"></select>
    </div>
    <div>
        By Shop
        <br />
        <select id="purchasesShops"></select>
    </div>
</div>
<table id="purchases">
    <thead style="background: #fc0">
    <tr>
        <td>Date:</td>
        <td>Username:</td>
        <td>Product:</td>
        <td>Price:</td>
        <td>Shop:</td>
        <td>Stuff:</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:field="*{purchases}">
        <tr class="purchase" th:classappend="${purchase.getId()}" th:each="purchase : ${purchases}" th:value="${purchase.getId()}">
            <td>
                <input th:value="${purchase.getPurchaseDate()}" />
            </td>
            <td>
                <span th:text="${purchase.getUserName()}"></span>
            </td>
            <td>
                <select>
                    <option th:each="prod : ${goods}"
                            th:value="${prod.getName()}"
                            th:utext="${prod.getName()}"
                            th:selected="(${prod.getId()} == *{purchase.getProductId()})"
                    />
                </select>
            </td>
            <td>
                <input th:value="${purchase.getPrice()}" />
            </td>
            <td>
                <span th:text="${purchase.getShopName()}"></span>
            </td>
            <td>
                &nbsp;<button class="delPurchaseButton" th:id="${purchase.getId()}">DEL</button>
                &nbsp;<button class="savePurchaseButton" th:id="${purchase.getId()}">SAVE</button>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
