<div id="wrap"></div>


<div class="logoAndName">
    <div id="menu">
        <ul>
            <li id="myStatistic">Моя статистика</li>
            <li><a href="/admin">Admin Stuff</a></li>
        </ul>
    </div>
    <img class="avatar" width="36px" height="36px" th:src="${user.getUserpic()}" /> &nbsp;
    <span class="top">
        <span th:text="${user.getName()}">Anonymous</span>,
    </span>
</div>


<div class="logoAndName shopSelect">
    <select id="shops" th:field="*{shops}">
        <option th:each="shop : ${shops}" th:value="${shop.getId()}" th:text="${shop.getName()}"></option>
        <option class="addShopOption" value="0"> - добавить - </option>
    </select>
</div>

<div id="filter"></div>

<div id="goods">
    <th:block th:each="product : ${goods}">
        <div class="product">
            <input class="price" th:id="${product.getId()}" type="number"  placeholder="10 - 999р." />
            <label th:text="${product.getName()}"></label>
        </div>
    </th:block>
</div>


<div class="addProduct">
    <div class="add">+</div>
    <div class="productForm">
        <input id="productName" type="search" />
        <span class="submitNewProduct" id="submitNewProduct"> +</span>
    </div>
</div>


<div class="addShop">
    <button id="submitNewShop">✔</button>
    <input id="newShopName" type="search" placeholder="Название магазина:" />
</div>

<div id="myModal" class="modal">

    <div class="modal-content">
        <div class="modal-header">
            <span class="closeModal">&times;</span>
            <h2>Персональная статистика</h2>
        </div>
        <div class="modal-body">
        </div>
        <!--<div class="modal-footer">-->
            <!--<h3>Modal Footer</h3>-->
        <!--</div>-->
    </div>

</div>