<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_head"></th:block>
<body>

<th:block sec:authorize="isAnonymous()">
    <div class="login">
        Required login with
        <a href="/login">
            <blue>G</blue><red>o</red><yellow>o</yellow><blue>g</blue><green>l</green><red>e</red>
        </a>
    </div>
</th:block>

<a href="/">Назад</a>
<canvas id="graph" width="400" height="400"></canvas>

<th:block sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        myPurchases = /*[[${myPurchases}]]*/ "";
        charts = /*[[${charts}]]*/ "";

        colors = [
            "#00ffff",
            "#000000",
            "#0000ff",
            "#a52a2a",
            "#00ffff",
            "#00008b",
            "#008b8b",
            "#a9a9a9",
            "#006400",
            "#bdb76b",
            "#8b008b",
            "#556b2f",
            "#ff8c00",
            "#9932cc",
            "#8b0000",
            "#e9967a",
            "#9400d3",
            "#ff00ff",
            "#ffd700",
            "#008000",
            "#4b0082",
            "#f0e68c",
            "#90ee90",
            "#d3d3d3",
            "#ffb6c1",
            "#00ff00",
            "#ff00ff",
            "#800000",
            "#000080",
            "#808000",
            "#ffa500",
            "#ffc0cb",
            "#800080",
            "#800080",
            "#ff0000",
            "#c0c0c0",
            "#ffff00"
        ];

        $( document ).ready(function() {

            var data = [];
            var dateArr = [];

            $.each(charts, function (productName, datePriceArr) {
                var arr = [];
                var color = colors[Math.floor(Math.random()*colors.length)];
                colors = jQuery.grep(colors, function(value) {
                    return value != color;
                });
                data.push({
                    label: productName,
                    fill: false,
                    backgroundColor: color,
                    borderColor: color,
                    data: arr
                });

                $.each(datePriceArr, function (date, price) {
                    arr.push({x: new Date(date), y: price});
                    dateArr.push(date);
                });
            });

            var ctx = document.getElementById("graph").getContext('2d');

            var myChart = new Chart(ctx, {
                type: 'line',
                // labels: unique(dateArr.reverse()),
                data: {
                    labels: unique(dateArr).reverse(),
                    datasets: data
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            function unique(array){
                return array.filter(function(el, index, arr) {
                    return index === arr.indexOf(el);
                });
            }

        });

    </script>
</th:block>
</body>
</html>