<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_head"></th:block>
<body>

<th:block sec:authorize="isAnonymous()">
    <div class="login">
        Required login with
        <a href="/login">
            <blue>G</blue><red>o</red><yellow>o</yellow><blue>g</blue><green>l</green><red>e</red>
        </a>
    </div>
</th:block>

<a href="/">Назад</a>

<table id="userGraphTable">
    <tbody>
    <th:block th:field="*{users}">
        <tr class="user">
            <td>
                <select id="userGraph">
                    <option th:each="user : ${users}"
                            th:value="${user.getName()}"
                            th:id="${user.getId()}"
                            th:utext="${user.getName()}"
                            th:selected="(${user.getId()} == *{myPurchases[0].getUserId()})"
                    />
                </select>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
<br /><br />
<canvas id="graph" width="400" height="400"></canvas>

<th:block sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        myPurchases = /*[[${myPurchases}]]*/ "";
        charts = /*[[${charts}]]*/ "";
        users = /*[[${users}]]*/ "";

        chartData = [];

        $( document ).ready(function() {
            dataToChart(charts);
        });

        $('#userGraph').on('change', function () {
            var userId = $(this).children(":selected").attr('id');
            $.ajax({
                type : "GET",
                url : "/charts/getPurchasesByUserId?userId=" + userId,
                success: function(data){
                    dataToChart(data);
                }
            });
        });

    </script>
</th:block>
</body>
</html>