<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="_head"></th:block>
<body>

    <th:block sec:authorize="isAnonymous()">
        <div class="login">
            Required login with
            <a href="/login">
                <blue>G</blue><red>o</red><yellow>o</yellow><blue>g</blue><green>l</green><red>e</red>
            </a>
        </div>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">

        <th:block th:include="_content"></th:block>

    </th:block>


<script th:inline="javascript">
    shops = /*[[${shops}]]*/ "";
    userSettings = /*[[${userSettings}]]*/ "";
    goods = /*[[${goods}]]*/ "";

    qwe = /*[[${qwe}]]*/ "";
    qwe1 = /*[[${qwe1}]]*/ "";
    qwe2 = /*[[${qwe2}]]*/ "";
    qwe3 = /*[[${qwe3}]]*/ "";

    productList = [];
    productMask = [];

    $( document ).ready(function() {

        $('#myStatistic').click(function (e) {
            e.stopPropagation();
            $('#menu').hide();
            $('.modal').show();
            getPersonalStatistic();
        });
        $(".closeModal").click(function() {
            $('.modal').hide();
            $('.modal-body div').remove();
        });
        $(window).click(function(e) {
            if($(e.target).attr('class') == 'modal'){
                $('.modal').hide();
                $('.modal-body div').remove();
            }
        });

        appendGoodsAndFilter();

        $('.avatar').click(function (e) {
            e.stopPropagation();
            $('#menu').show();
        });
        $("#menu").click(function(e) {
            e.stopPropagation();
        });
        $("body").click(function() {
            $("#menu").hide();
        });

        $('#filter span').click(function () {
            // filter($(this).attr('title'));

            $('.cancelFilter').remove();
            $('.productF').remove();
            $('.product').hide();

            var letter = $(this).attr('title');
            goods.forEach(function (value) {
                if (value.name.substring(0, 1) == letter) {
                    $('#goods').append(
                        "<div class='productF'>"
                        + "<input class='price' type='number' id='" + value.id + "' />"
                        + "<label>"
                        + value.name
                        + "</label></div>"
                    );
                }
            });
            $('#filter').append(
                '<span class="cancelFilter" title="cancel"> x </span>'
            )
        });

        $(document).on('click', 'span.cancelFilter', function() {
            $('.cancelFilter').remove();
            $('.productF').remove();
            $('.product').show();
        });

        $('#wrap').click(function () {
            wrapClose();
        });

        $('#submitNewShop').click(function () {
            addShop();
        });

        $('#shops option').filter(function () {
            return $(this).val() == userSettings.shopId;
        }).prop('selected', true);

        $('#shops').on('change', function () {
            var id = $(this).children(":selected").attr("value");
            if (id != 0) {
                changeShop(id);
            } else {
                $('.addShop').addClass("showShopForm");
                $('#wrap').show();
                $('.addShopInput').show();
                $(this).val(userSettings.shopId);
            }
        });

        $('.price').on("input change paste", function () {
            var id = $(this).attr('id');
            setTimeout(function () {
                var val = Math.round($('#' + id).val());
                var shop = $('#shops').children(":selected").val();
                savePrice(shop, id, val);
            }, 1000)
        });

        $('.addProduct').click(function (e) {
            showAddProductForm(e);
        });
        $('.add').click(function (e) {
            $(this).toggle();
            showAddProductForm(e);
        });

        $('#submitNewProduct').click(function () {
            submitNewProduct();
        });

        $("#productName").autocomplete({
            position: {my: "center bottom", at: "left top"},
            classes: {
                "ui-autocomplete": "productAutocomplete"
            },
            minLength: 2,
            source: productList
        });



    })
</script>
</body>
</html>
