<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="_head"></th:block>
<body>

    <th:block sec:authorize="isAnonymous()">
        <div class="login">
            Required login with
            <a href="/login">
                <blue>G</blue><red>o</red><yellow>o</yellow><blue>g</blue><green>l</green><red>e</red>
            </a>
        </div>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <th:block th:include="_content"></th:block>
    </th:block>


<script th:inline="javascript">
    shops = /*[[${shops}]]*/ "";
    userSettings = /*[[${userSettings}]]*/ "";
    goods = /*[[${goods}]]*/ "";
    todaysPurchases = /*[[${todaysPurchases}]]*/ "";

    productList = [];
    productMask = [];

    timeout = null;

    $( document ).ready(function() {

        $('#myStatistic').click(function (e) {
            e.stopPropagation();
            $('#menu').hide();
            $('.modal').show();
            getPersonalStatistic();
        });
        $(".closeModal").click(function() {
            $('.modal').hide();
            $('.modal-body div').remove();
        });
        $(window).click(function(e) {
            if($(e.target).attr('class') == 'modal'){
                $('.modal').hide();
                $('.modal-body div').remove();
            }
        });

        appendGoodsAndFilter();

        $('.avatar').click(function (e) {
            e.stopPropagation();
            $('#menu').show();
        });
        $("#menu").click(function(e) {
            e.stopPropagation();
        });
        $("body").click(function() {
            $("#menu").hide();
        });

        $('#filter span').click(function () {
            $('.cancelFilter').remove();
            var letter = $(this).attr('title');
            filter(letter, function(callback){
                $('#goods').empty();
                callback.forEach(function (product) {
                    $('#goods').append(
                        "<div class='product'>"
                        + "<input class='price' type='number' id='" + product.id + "' />"
                        + "<label>"
                        + product.name
                        + "</label></div>"
                    );
                })
            });

            $('#filter').append(
                '<span class="cancelFilter" title="cancel"> x </span>'
            )
        });

        $(document).on('click', 'span.cancelFilter', function() {
            location.reload();
        });

        $('#wrap').click(function () {
            wrapClose();
        });

        $('#submitNewShop').click(function () {
            addShop();
        });

        $('#shops option').filter(function () {
            return $(this).val() == userSettings.shopId;
        }).prop('selected', true);

        $('#shops').on('change', function () {
            var id = $(this).children(":selected").attr("value");
            if (id != 0) {
                changeShop(id);
            } else {
                $('.addShop').addClass("showShopForm");
                $('#wrap').show();
                $('.addShopInput').show();
                $(this).val(userSettings.shopId);
            }
        });

        $(document).on('input', '.price', function() {
            var id = $(this).attr('id');
            var price = Math.round(parseFloat($('#' + id).val()));
            if (price > 20){
                var shop = $('#shops').children(":selected").val();
                savePrice(shop, id, price);
            }
        });

        $('.addProduct').click(function (e) {
            showAddProductForm(e);
        });
        $('.add').click(function (e) {
            $(this).toggle();
            showAddProductForm(e);
        });

        $('#submitNewProduct').click(function () {
            submitNewProduct();
        });

        $("#productName").autocomplete({
            position: {my: "center bottom", at: "left top"},
            classes: {
                "ui-autocomplete": "productAutocomplete"
            },
            minLength: 2,
            source: productList
        });

        highlightAlreadyFilledToday();

    })
</script>
</body>
</html>
